<div style="height: 1000px; border-top:3px solid hsla(0,0%,0%,.5);">
  <div class="div_content1" style="height:450px; margin-left: 50px; margin-right:50px; padding-left:100px; margin-top:20px; background-color: hsla(0,0%,0%,.05);">
    <div class="div_artist" style="height:450px; float: left;">
      <div class="div_name" style="height:100px; width:450px; padding-top: 25px; padding-left: 30px; font-size: 30px">
        <p  font-family="Roboto Condensed" style="font-size: 34px; font-weight:bold; text-transform: uppercase; -webkit-font-smoothing:antialiased">{{artist.name}}</p>
      </div>

      <div class="div_profile" style="margin: 10px; float: left; border-radius: 100%">
        <!--<img src="../images/profile_{{name}}.jpg" style="height:300px; width:300px; object-fit: fill; border-radius: 100%;">-->
        <div id="slide" uib-carousel active="active" interval="myInterval">
          <div uib-slide ng-repeat="img in imageList" index="img.id">
            <img ng-src="{{img.src}}" style="height:300px; width:300px; object-fit:fill; border-radius: 100%;">
          </div>
        </div>
        
      </div>

      <div class="div_info" style="width:250px; margin-left:50px; float: left;">
        <div style="margin-top: 40px; padding-left: 12px; height: 180px; border-left: 4px solid #BDC2C7; vertical-align: top; text-align: left;">
          <p style="margin-bottom: 28px;">
            <span id="city_count" font-family="Roboto Condensed" style="font-size: 34px; font-weight:bold; display: block;">
              {{artist.city}}
            </span>
            Cities
          </p>
          <p>
            <span id="request_count" font-family="Roboto Condensed" style="font-size: 34px; font-weight:bold; display: block;">
              {{artist.totalPoint}}
            </span>
            Total InviTe Counts
          </p>
          <a style="font-size: 14px; color: white; background-color: purple; border-radius: 30%; padding-left: 10px; padding-right: 10px;">POP</a>
          <a style="font-size: 14px; color: white; background-color: red; border-radius: 30%; padding-left: 10px; padding-right: 10px;">R&amp;B</a>
          <a style="font-size: 14px; color: white; background-color: gray; border-radius: 30%; padding-left: 10px; padding-right: 10px;">HIPHOP</a>
        </div>
      </div>
    </div>
    <div style="height:450px; width:400px; float: left;">
      <div ng-init="isInviteStart" class="div_invite" style="height:320px; padding-top:220px;">
        <div ng-hide="isInviteSuccess">
          <a id="buttn_invite" ng-hide="isInviteStart" ng-click="inviteStart()" class="ng-hide button button-3d button-primary button-pill" style="font-size: 24px; margin-left: 50px; margin-top: 20px;"> InviTe </a>
          <div ng-show="isInviteStart" style="">
            <h3>Invite Point
              <button type="button" class="btn btn-sm btn-primary" ng-click="clickInvite()">LIKE INVITE</button>
            </h3>
              <uib-progressbar max="invite.max" value="invite.cur"><span style="color:white; white-space:nowrap;">{{invite.cur}} / {{invite.max}}</span></uib-progressbar>
          </div>
        </div>
        <div ng-show="isInviteSuccess">
          <a ng-click="clickBuyTicket()" class="button button-3d button-primary button-pill" style="font-size: 24px; margin-left: 50px; margin-top: 20px;">BUY TICKET</a>
        </div>
      </div>
      <div id="buzz_button">
        <button type="button" class="button button-primary button-box button-giant button-longshadow-right">
          <i class="fa fa-twitter"></i>
        </button>
        <button class="button button-caution button-box button-raised button-giant button-longshadow-right">
          <i class="fa fa-google-plus"></i>
        </button>
        <button class="button button-action button-box button-giant button-longshadow-right">
          <i class="fa fa-share-alt"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="div_content2" style="height:550px;"></div>
</div>